<div id="clearance" class="sign-in d-flex align-items-center">
  <div class="container">
    <div class="row">
      <h1>Book unique homes and experience a city like a local.</h1>
      <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>
    </div>
  </div>
</div>
