.listing-hero {
   @include hero-background(listing_hero);
   background-size: cover;
   background-position: center;
   height: 40vh;
   h1 {
     color: #fff;
     font-size: 4rem;
   }
   .form-inline {
     input[type="text"] {
       flex:1;
       width: 100%;
       padding: 10px;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #fff;
      outline: none;
      color: #fff;
     }
   }
   .btn-icon {
     color: #fff;
     background: transparent;
     border: 0;
     margin-left: 20px;
     outline: none;
   }
}
.card {
  border: 0;
  box-shadow: $shadow;
  height: 100%;
}
.new_listing {
  label {
    display: block;
  }
  .text-field, .text-area {
    input, textarea  {
      width: 100%;
    }
  }
}

.card-img-top {
  height: 200px;
}
.card-deck {
  width: 100%;
}
.card-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.card-btn {
  text-align: center;
    justify-self: flex-end;
    align-self: center;
}
.listing-photo {
  height: 60vh;
  object-fit: cover;
  width: 100%;
}
