<main class="container">
  <div class="row my-5">
    <div class="col-4">
      Your user pic should go here.
    </div>
    <div class="col-8">
      <h1>Hi, I'm <%= @user.full_name %></h1>

      <h3>Joined <%= @user.created_at.to_date %></h3>
      <% if current_user == @user.id %>
        <%= link_to user_path(@user) do %>
           <i class='fa fa-pencil'></i> Edit Profile
        <% end %>
      <% end %>

      <%= link_to "Check out my listings", user_listings_path(@user) %>
    </div>
  </div>
</main>
