body {
  font-family: 'Raleway',sans-serif;
  background: $offwhite;
}
a {
  color: $airbnb;
  &:hover,&:focus {
    color: darken( $airbnb, 30% );
  }
}
.fa-search {
  cursor: pointer;
}
.green {
  color: $green;
}
.btn-primary {
  background: $airbnb;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  &:hover,&:focus {
    background: darken( $airbnb, 30% );
  }
  a {
    color: #fff;
    text-decoration: none!important;
  }
  .disabled, &:disabled {
    background: desaturate( $airbnb, 80% );
  }
}

.btn-secondary {
    color: #fff;
    background: transparent;
    border-color: #fff;
    margin-left: 20px;
}
.btn-filter {
    background: rgba( $airbnb, .7 );
    color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: .3rem;
    border: 0;
}
#flash {
  text-align: center;
  #flash_success {
    background: rgba($green, .3);
    padding: 1rem;
  }
  #flash_failure,#flash_notice {
    background: rgba($airbnb, .3);
    padding: 1rem;
  }
}
.side-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}
.form-input {
  width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(220, 220, 220, 0.99);
    margin-bottom: 1rem;
}
.form-slider {
  width: 100%;
}
.select-field select {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(220, 220, 220, 0.99);
    margin-bottom: 1rem;
    background: #fff;
}
.text-area textarea{
    height: 200px;
}
.error-explanation {
  width: 100%;
}
.col-inline {
  -webkit-columns: 100px 2;
    -moz-columns: 100px 2;
    columns: 100px 2;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
