body {
  font-family: 'Raleway',sans-serif;
  background: $offwhite;
}
a {
  color: $airbnb;
  &:hover,&:focus {
    color: darken( $airbnb, 30% );
  }
}
.btn-primary {
  background: $airbnb;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  &:hover,&:focus {
    background: darken( $airbnb, 30% );
  }
  a {
    color: #fff;
    text-decoration: none!important;
  }
}

.btn-secondary {
    color: #fff;
    background: transparent;
    border-color: #fff;
    margin-left: 20px;
}
#flash {
  text-align: center;
  #flash_success {
    background: rgba(180, 210, 137, .3);
    padding: 1rem;
  }
  #flash_failure,#flash_notice {
    background: rgba($airbnb, .3);
    padding: 1rem;
  }
}
.side-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.form-input {
  width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(220, 220, 220, 0.99);
    margin-bottom: 1rem;
}
.text-area textarea{
    height: 200px;
}
.error-explanation {
  width: 100%;
}
