<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%= @customer.full_name %>!</h1>
    <p>
      You have successfully confirmed your reservation at <%= @reservation.listing.name %>.
      You can see details of your new reservation here: <%= @url %>
    </p>
  </body>
</html>
